
:root {
  --cl-blanco: #EEEEEE;
  --cl-cafe: #D8CBBB;
  --cl-lila: #BB8FA9;
  --cl-morado: #560764;
  --cl-negro: #00000;
}

*{
  font-family: 'DM Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: justify;
  text-decoration: none;
}

body{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 0.5rem;
}

.header{
  background: linear-gradient(to bottom, #D8CBBB 0%, #D8CBBB 70%, white 50%, white 100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header div{
  width: 100%;
  display: flex;
  justify-content: center;
}

.header div img{
  height: 15em;
  width: auto;
  border-radius: 50%;
  border: 5px solid white;
  position: relative;
  top: 17%;
  
}

.header .nav-links{
  display: flex;
  justify-content: end;
  width: 100%;
  list-style: none;
}

.header .nav-links ul{
  position: relative;
  bottom: 255%;
}

.header .nav-links li{
  display: inline-block;
  padding: 0 20px;
}

.header h1{
  width: 100%;
  text-align: center;
  border-bottom: 0.1em solid gray;
  padding-top: 2%;
}

.div-sections{
  display: flex;
  margin: 2rem 3rem;
  flex-wrap: wrap;
  gap: 1.5rem 5rem;
  border: 0.1em solid black;
}

#miperfil{
  order: 1;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap:  0.5em;
} 

#experiencialaboral{
  order: 2;
  width: 63%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap:  0.5em;
}

#formacionacademica{
 order: 4;
 width: 63%;
 display: flex;
 flex-direction: column;
 align-items: center;
 row-gap:  0.5em;
}

#habilidades{
 order: 3;
 width: 30%;
 display: flex;
 flex-direction: column;
 align-items: center;
 row-gap:  0.5em;
}

#idiomas{
 order: 5;
 width: 30%;
}

#cursos{
  order: 6;
  width: 63%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap:  0.5em;
}

#contactame{
 order: 7;
 width: 100%;
}

section{
  border: 0.1em solid gray;
}

.container{
  border-radius: 15px;
  background-color: lightgrey;
  padding: 1em;
}