
body{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 0.5rem;
}

.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header div{
  display: flex;
  justify-content: center;
}

.header .nav-links{
  display: flex;
  justify-content: end;
}

.header .nav-links li{
  display: inline-block;
}

.div-body{
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.main-columns{
  display: flex;
}

.div-column{
  display: flex;
  flex: 1;
  flex-direction: column;
}

.big-column{
  flex: 2;
}

@media screen and (max-width: 800px) {
  .main-columns,
  .div-column {
    display: flex;
  }

  .main-columns {
    flex-direction: column;
    row-gap: 4px;
  }

  .big-column{
    row-gap: 5px;
  }

}

.section{
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
}

.section-body{
  display: flex;
  flex: 1;
  flex-direction: column;
}

.contact{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.div-contact{
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.socialmed{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

#contactame{
  display: flex;
  flex-direction: column;
  flex-basis: auto;
}

#contactame form{
  row-gap: 15px;
}

