
:root {
  --cl-blanco: #EEEEEE;
  --cl-cafe: #D8CBBB;
  --cl-lila: #BB8FA9;
  --cl-morado: #560764;
  --cl-negro: #00000;
}

*{
  font-family: 'DM Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: justify;
  text-decoration: none;
}

@media (min-width: 640px) { body {font-size:1rem;} }
@media (min-width:960px) { body {font-size:1.2rem;} }
@media (min-width:1100px) { body {font-size:1.5rem;} }


li{
  text-align: initial;
  list-style-position: inside;
}

th{
  color: var(--cl-morado);
}

td{
  text-align: initial;
}

.header{
  background: linear-gradient(to bottom, #D8CBBB 0%, #D8CBBB 63%, white 50%, white 100%);
}

.header figure{
  width: 100%;
}

.header figure img{
  height: 15em;
  width: auto;
  border-radius: 50%;
  border: 5px solid white;
  position: relative;
  top: 1.5em;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/*
.header .nav-links{
  width: 100%;
  list-style: none;
}

.header .nav-links ul{
  position: relative;
  bottom: 205%;
  right: 2%;
  background-color: white;
  border-radius: 30px;
}

.header .nav-links li{
  padding: 10px 20px;
  color: var(--cl-morado);
  font-weight: bold;
}
*/

.header h1{
  width: 100%;
  text-align: center;
  padding-top: 3%;
  letter-spacing: 2px;
  position: relative;
  top: 15px;
}

.linea{
  border-top: 3px solid #D8CBBB;
  max-width: 85%;
  padding: 0;
  margin: 24px auto 0 auto;
}

.div{
  margin: 0 auto;
  max-width: 1300px;
  padding: 45px 20px;
}

@media screen and (max-width: 800px){
  .div{
    padding: 5px;
  }

  .header h1{
    padding-top: 3.5%;
  }

  .linea{
    margin: 18px auto 0 auto;
  }

}

.section{
  margin: 10px 35px;
}

.section-title{
  padding: 5px;
  text-align: center;
  letter-spacing: 2px;
}

.section-body{
  padding: 20px;
  background-color: #EEEEEE;
  border-radius: 15px;
}

.contact{
  background-color: var(--cl-cafe);
  padding: 25px;
}

.socialmed{
  background-color: var(--cl-lila);
  padding: 15px;
}

#contactame{
  margin: 0px 40px;
}

.form-input{
  padding: 5px;
  font-size: 20px; 
}

.form-button{
  padding: 5px;
  text-align: center;
  color: white;
  background-color: var(--cl-morado);
  font-size: 20px; 
}

.section-body h4{
  font-size: 20px;
  color: var(--cl-morado);
}

.socialmed i{
  transform: scale(1.2);
  transition: all 0.3s;
}

.socialmed i:hover{
  transform: scale(1.5);
}
